<!DOCTYPE>
<html>
<head>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>        
</head>
<title>Fitness</title>
<body>
<center><img th:src="@{/images/googlefit.jpeg}" alt="image" width="600" height="300"></center>

<center><a href="http://localhost:8080/getDataSources">Get DataSource</a></center>
<center><a href="http://localhost:8080/getdatasets">Get DataSets</a></center>
<center><a href="http://localhost:8080/getdatapointChanges">Get DataPoint Changes</a></center>
<center><a href="http://localhost:8080/getdatasetsbyaggregate">Get Dataset by Aggregate</a></center>
</body>
</html>