<html>
<head>
    <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            body {
  background-color: hsla(115, 68%, 67%, 0.3)
         }

            footer {
                text-align: center;
                padding: 3px;
                background-color: DarkSalmon;
                color: white;
                    }





    </style>

</head>
<body>

<center><img alt="image" height="300" th:src="@{/images/googlefit.jpeg}" width="550"></center>
<h1><a href="/store-data">Store user input details</a></h1> <br/>
<!--<h1><a href="/show-data">Show Activity on web</a></h1><br/><br/><br/><br/><br/><br/><br/></br>-->


<footer>
    <p>Author: Cloudcraftz<br>
        <a href="www.cloudcraftz.io">cloudcraftz.io</a> @2022</p>
</footer>


</body>
</html>